<div class="card"> <!--Creamos la tarjeta-->
  <div class="profilepicture"></div> <!--Añadimos una foto de perfil para el empleado-->
<div>
<div class="name">Gojira</div> <!--Añadimos el nombre del empleado-->
<div class="workposition">King of the Monsters</div> <!--Añadimos la posicion del empleado-->
<div class="description"> <!--Escribimos la descripicion del empleado-->
  <div class="text">The most powerful Kaiju on Earth. It doesn't like humanity,</div>
  <div class="text">but it'll always protect the Earth from danger.</div>
</div>
<div class="contact">E-Mail: gojira1954&#64;earthdefenders.com</div> <!--Añadimos el correo del empleado, &#64; representa @ ya que de otra forma ocurre un error-->
<div class="contact">Phone Number: +81 27101954</div> <!--Añadimos el numero de telefono del empleado-->
</div>
</div>