<div class="card"> <!--Creamos la tarjeta que contiente los cuardrados-->
  <div class="number-card"><!--Creamos la clase numer-card-->
      <div class="square zero">0</div><!--determinamos que numeros son primos y cuales no-->
      <div class="square one">1</div>
      <div class="square prime">2</div>
      <div class="square prime">3</div>
      <div class="square four">4</div>
      <div class="square prime">5</div>
      <div class="square six">6</div>
      <div class="square prime">7</div>
      <div class="square eight">8</div>
      <div class="square nine">9</div>
      <div class="square ten">10</div>
      <div class="square prime">11</div>
      <div class="square twelve">12</div>
      <div class="square prime">13</div>
      <div class="square fourteen">14</div>
      <div class="square fifteen">15</div>
      <div class="square sixteen">16</div>
      <div class="square prime">17</div>
      <div class="square eighteen">18</div>
      <div class="square prime">19</div>
      <div class="square twenty">20</div>
      <div class="square twenty-one">21</div>
      <div class="square twenty-two">22</div>
      <div class="square prime">23</div>
      <div class="square twenty-four">24</div>
      <div class="square twenty-five">25</div>
      <div class="square twenty-six">26</div>
      <div class="square twenty-seven">27</div>
      <div class="square twenty-eight">28</div>
      <div class="square prime">29</div>
      <div class="square thirty">30</div>
      <div class="square prime">31</div>
      <div class="square thirty-two">32</div>
      <div class="square thirty-three">33</div>
      <div class="square thirty-four">34</div>
      <div class="square thirty-five">35</div>
      <div class="square thirty-six">36</div>
      <div class="square prime">37</div>
      <div class="square thirty-eight">38</div>
      <div class="square thirty-nine">39</div>
      <div class="square forty">40</div>
      <div class="square prime">41</div>
      <div class="square forty-two">42</div>
      <div class="square prime">43</div>
      <div class="square forty-four">44</div>
      <div class="square forty-five">45</div>
      <div class="square forty-six">46</div>
      <div class="square prime">47</div>
      <div class="square forty-eight">48</div>
      <div class="square forty-nine">49</div>
      <div class="square fifty">50</div>
      <div class="square fifty-one">51</div>
      <div class="square fifty-two">52</div>
      <div class="square prime">53</div>
      <div class="square fifty-four">54</div>
      <div class="square fifty-five">55</div>
      <div class="square fifty-six">56</div>
      <div class="square fifty-seven">57</div>
      <div class="square fifty-eight">58</div>
      <div class="square prime">59</div>
      <div class="square sixty">60</div>
      <div class="square prime">61</div>
      <div class="square sixty-two">62</div>
      <div class="square sixty-three">63</div>
      <div class="square sixty-four">64</div>
      <div class="square sixty-five">65</div>
      <div class="square sixty-six">66</div>
      <div class="square prime">67</div>
      <div class="square sixty-eight">68</div>
      <div class="square sixty-nine">69</div>
      <div class="square seventy">70</div>
      <div class="square prime">71</div>
      <div class="square seventy-two">72</div>
      <div class="square prime">73</div>
      <div class="square seventy-four">74</div>
      <div class="square seventy-five">75</div>
      <div class="square seventy-six">76</div>
      <div class="square seventy-seven">77</div>
      <div class="square seventy-eight">78</div>
      <div class="square prime">79</div>
      <div class="square eighty">80</div>
      <div class="square eighty-one">81</div>
      <div class="square eighty-two">82</div>
      <div class="square prime">83</div>
      <div class="square eighty-four">84</div>
      <div class="square eighty-five">85</div>
      <div class="square eighty-six">86</div>
      <div class="square eighty-seven">87</div>
      <div class="square eighty-eight">88</div>
      <div class="square prime">89</div>
      <div class="square ninety">90</div>
      <div class="square ninety-one">91</div>
      <div class="square ninety-two">92</div>
      <div class="square ninety-three">93</div>
      <div class="square ninety-four">94</div>
      <div class="square ninety-five">95</div>
      <div class="square ninety-six">96</div>
      <div class="square prime">97</div>
      <div class="square ninety-eight">98</div>
      <div class="square ninety-nine">99</div>
      <div class="square one-hundred">100</div>
    </div>
  </div>