<div class="card"> <!--Creamos la tarjeta-->
    <div class="item1"> <!--Creamos el objeto #1-->
        <div class="color1"></div> <!--Creamos el color #1-->
    </div>
    <div class="item2"> <!--Creamos el objeto #2-->
        <div class="color2"></div> <!--Creamos el color #2-->
    </div>
    <div class="item3"> <!--Creamos el objeto #3-->
        <div class="color3"></div> <!--Creamos el color #3-->
    </div>
    <div class="item4"> <!--Creamos el objeto #4-->
        <div class="color4"></div> <!--Creamos el color #4-->
    </div>
    <div class="item5"> <!--Creamos el objeto #5-->
        <div class="color5"></div> <!--Creamos el color #5-->
    </div>
    <div class="item6"> <!--Creamos el objeto #6-->
        <div class="color6"></div> <!--Creamos el color #6-->
    </div>
</div>